.input {
  display: none;
}

.root {
  position: relative;
}

.cover {
  width: 340px;
  height: 240px;
}

.uploadButton {
  position: absolute;
  right: 10px;
  bottom: 15px;
}

.deleteButton {
  position: absolute;
  left: 10px;
  bottom: 15px;
}